deep-translator
pyromod
openai
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]
lyricsgenius
motor
wget
pillow==9.5.0
pymongo==3.12.0
psutil
pytube
pykeyboard
unidecode
pyromod
py-tgcalls==1.2.9
ntgcalls==1.1.2
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
urllib3
uvloop
flask
gunicorn==20.1.0
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
